@import "tailwindcss";

@theme {
  --color-retur-terra: #C66A38;
  --color-retur-areia: #FAF8F5;
  --color-retur-escuro: #151A22;
  --color-retur-texto: #333333;
}

body {
  background-color: var(--color-retur-areia);
  color: var(--color-retur-texto);
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
    transform: translateY(10px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}